# Ignore common Python virtual environment directories
venv/
env/
.venv/
.env/
# VS Code settings
.vscode/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Node.js dependencies
node_modules/

# Svelte build artifacts
public/build/
*.svelte.js
*.svelte.css

# Other common Node.js build artifacts
dist/
build/
*.log

# ingonre index
app/static/index/

# ignore images in files folder
*.png
